<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <span>BuynSell</span>
    <div class="arrow_right"><i class="fa-sharp fa-solid fa-arrow-left"></i></div>
    <div class="arrow_left"><i class="fa-sharp fa-solid fa-arrow-right-long"></i></div>
    <div class="nav-image">
      <span><a href="https://www.fontspace.com/category/fairy"><img
            src="https://see.fontimg.com/api/renderfont4/9aP0/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/bWFya2V0/fairies-gone-wild.png"
            alt="Fairy fonts"></a></span>
    </div>
  </nav>
</body>

</html>
