<!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>

  <h1>ADMIN</h1>

  <!-- <button id="fetch-users">Fetch Users via AJAX</button>
  <ul id="users"></ul> -->

  <form id="new-product">

    <label><b>New Product</b></label>
    <br />
    <div class="errorText"></div>
      <div class="input_field">
    <input id="productName" name="productName" placeholder="Product Name"/>
    <br />
    <textarea name="description" rows="10" placeholder="Description"></textarea>
    <br />
    <input id="picture" name="picture" placeholder="Image_url"/>
    <br />
    <input id="cost" name="cost" placeholder="Price"/>
    <br />
    <input id="status" name="status" placeholder="Availability"/>
  </div>

    <!-- <br /> -->
    <button id="send" type="submit">Add</button>
    <button id="cancel" type="button">Cancel</button>
  </form>
</body>

</html>
