body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-size:contain;
  background-image: url("https://cdn.dribbble.com/users/303555/screenshots/10873981/media/b54dedec24e523d115637f4658a58fab.png?compress=1&resize=1000x750&vertical=top");
  // background-color: rgb(153, 0, 255);
  // opacity: 60%;
  color: #FFFFFF;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;


}

nav > span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 70px;
  color:black;
margin-top: 0.5em

}
.right-nav{
  display:flex;
  flex-direction: column;
  justify-content:flex-end
}

.nav-image {
  display: flex;
  color: rgb(70, 115, 126);
font-size: 20px;
flex-direction: column;
align-items: flex-end;

}


.favourite_counter{
  color: rgb(207, 23, 23);
  margin-left: 2px;

}

#heart{
  color:rgb(85, 26, 139)
}

#carts{
  display: flex;
  flex-direction:row;
  // position:relative; left:80px; top:2px;
  justify-content: flex-end;
  gap: 10px
}

.favourite_image {
  display: flex;
  color: rgb(85, 26, 139);
font-size: 20px;
flex-direction: row;
align-items: flex-end;


}

.market {
  -webkit-box-reflect: below 0px;

}



#profile {
  display: flex;
  height: 100%;
  width: 20%;
  margin-top: 95px;
  padding: 15px 0px;
  justify-content: space-between;
  align-items:  space-between;

  flex-direction: row;
margin-left: 2em;
}

.Products {
  display: flex;
height:100%;
width: 100%;
  border: 1px solid black;
  margin-top: 2em;
  // box-sizing: border-box;
  // flex-direction: row;
  // justify-content: space-between;

margin-left: 2em;
margin-right: 10em;
margin-bottom: 1em;
align-items: center;
border-radius: 4px;
// overflow-wrap: break-word;

}

.Product_info{
margin-left: 2em;
margin-right: 2em;
  // margin-block-start: 1em;
  //   margin-block-end: 1em;
  //   margin-inline-start: 0px;
  //   margin-inline-end: 0px;
    overflow-wrap:break-word
}
.Price_status{
  display:flex;
justify-content: space-between;
  margin-top: 2em;
}

.price_amount{
  color: rgb(164, 19, 19)
}

.cart-button{
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;

}

.sold-button {
  margin-left: 100px;
  text-align: right;

}
.message {
  margin-top: 5px;
}

.delete-button {
  margin-left: 100px;
}
.cart_link {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;

}

.Product_name {
  margin-bottom: 10px;
  text-align: left;
}

.product-container {
  width: 60%;
  margin-left: 5em;
  margin-right: 5em;

}

*.pImage{
  display:flex;
  height: 250px;
  width: 300px;
  margin: 10px;
}



.Search_form{
  margin-left: 2em;
  font-size: medium;
  font-weight: bold;
  // position: fixed;

}

h1 {
  color:rgb(85, 26, 139);
  margin-left: auto;
  margin-right: auto
}

#new-product {
// display:block;
  margin-left: auto;
  margin-right: auto;
font-size:large;
  padding: 12px 20px;
  // margin: 8px 0;
  box-sizing: border-box;


  }

  #productName {
    margin-bottom: 0.3em;
    width: 500px
  }

#picture {
  width: 500px;
  margin: 0.3em;
}

#cost {
  width: 500px;
  margin-bottom: 0.3em;
}


 textarea{
height: 300px;
width: 500px;
resize: none
 }

 #status {
  width: 500px;
  margin-bottom: 0.3em;
 }

 .message_form {
  margin-left: auto;
  margin-right: auto;
font-size:large;
  padding: 12px 20px;
  // margin: 8px 0;
  box-sizing: border-box;
 }

 #message {
  margin-bottom: 0.3em;
  width: 500px
}

#email {
  margin-bottom: 0.3em;
  width: 500px
}

.sold {
  color: red;

}

.available {
  color:rgb(85, 26, 139)
}
